@import "tailwindcss";

:root {
  --margin-top: 80px;
}

.Link_card{
  color: rgb(255, 255, 255);
  padding: 6px 12px;
  background: linear-gradient(#7038af,#7b4faa);
}

.brawer_text{
  color: rgb(56, 56, 206);
}
.brawer_text:hover {
  text-decoration: underline;
  text-decoration-color: rgb(0, 0, 0);
  text-decoration-style: solid;
}


/* add custom scroll bar */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
::-webkit-scrollbar-track {
  background: transparent;
}



/* Tailwind Scrollbar Customization */
.scrollbar-thin {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #6b7280 transparent; /* Firefox */
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #6b7280; /* Tailwind gray-500 */
  border-radius: 4px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}


